<!-- wp:template-part {"slug":"header","theme":"ruby-ecommerce","tagName":"header"} /-->

<!-- wp:pattern {"slug": "ruby-ecommerce/header-009"} /-->

<!-- wp:pattern {"slug": "ruby-ecommerce/content-016"} /-->

<!-- wp:pattern {"slug": "ruby-ecommerce/content-017"} /-->

<!-- wp:pattern {"slug": "ruby-ecommerce/testimonial-004"} /-->



<!-- wp:group {"tagName":"main","className":"blog-feed-one","style":{"spacing":{"padding":{"top":"var:preset|spacing|superbspacing-large","bottom":"var:preset|spacing|superbspacing-large","left":"var:preset|spacing|superbspacing-small","right":"var:preset|spacing|superbspacing-small"},"margin":{"bottom":"var:preset|spacing|superbspacing-small"}},"border":{"top":{"color":"var:preset|color|mono-3","width":"1px"}}},"layout":{"type":"constrained","contentSize":""}} -->
<main class="wp-block-group blog-feed-one" style="border-top-color:var(--wp--preset--color--mono-3);border-top-width:1px;margin-bottom:var(--wp--preset--spacing--superbspacing-small);padding-top:var(--wp--preset--spacing--superbspacing-large);padding-right:var(--wp--preset--spacing--superbspacing-small);padding-bottom:var(--wp--preset--spacing--superbspacing-large);padding-left:var(--wp--preset--spacing--superbspacing-small)"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|superbspacing-xxsmall"}},"layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"textAlign":"center","level":3,"textColor":"featured","fontSize":"superbfont-small"} -->
<h3 class="wp-block-heading has-text-align-center has-featured-color has-text-color has-superbfont-small-font-size">Read our blog</h3>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"top":"var:preset|spacing|superbspacing-xsmall","bottom":"var:preset|spacing|superbspacing-xsmall"}}},"textColor":"contrast","fontSize":"superbfont-xlarge"} -->
<h2 class="wp-block-heading has-text-align-center has-contrast-color has-text-color has-superbfont-xlarge-font-size" style="margin-top:var(--wp--preset--spacing--superbspacing-xsmall);margin-bottom:var(--wp--preset--spacing--superbspacing-xsmall)">The Jewellers Journal</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|superbspacing-medium"}}},"textColor":"mono-2","fontSize":"superbfont-xsmall"} -->
<p class="has-text-align-center has-mono-2-color has-text-color has-superbfont-xsmall-font-size" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--superbspacing-medium)">Etiam placerat velit vitae dui blandit sollicitudin. Vestibulum tincidunt sed dolor sit amet <br>volutpat. Nullam egestas sem at mollis sodales.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":0,"query":{"perPage":"3","pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"align":"wide","layout":{"type":"constrained","wideSize":"100%"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|superbspacing-xsmall"}},"layout":{"type":"default","columnCount":2}} -->
<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|superbspacing-small","bottom":"var:preset|spacing|superbspacing-small","left":"var:preset|spacing|superbspacing-small","right":"var:preset|spacing|superbspacing-small"},"margin":{"bottom":"0"},"blockGap":"var:preset|spacing|superbspacing-small"},"border":{"bottom":{"width":"0px","style":"none"}}},"backgroundColor":"mono-4","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group alignwide has-mono-4-background-color has-background" style="border-bottom-style:none;border-bottom-width:0px;margin-bottom:0;padding-top:var(--wp--preset--spacing--superbspacing-small);padding-right:var(--wp--preset--spacing--superbspacing-small);padding-bottom:var(--wp--preset--spacing--superbspacing-small);padding-left:var(--wp--preset--spacing--superbspacing-small)"><!-- wp:post-featured-image {"isLink":true,"width":"","height":"400px","align":"wide","style":{"border":{"radius":"0px"}}} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|superbspacing-xxsmall","margin":{"top":"10px","bottom":"10px"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="margin-top:10px;margin-bottom:10px"><!-- wp:post-date {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"mono-2","fontSize":"superbfont-xsmall"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"right":"0","left":"0"}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"mono-1","fontSize":"superbfont-large","fontFamily":"fontsecondary"} /-->

<!-- wp:post-excerpt {"moreText":"Read More...","excerptLength":54,"style":{"spacing":{"margin":{"top":"20px","right":"0px","bottom":"0px","left":"0px"}}},"textColor":"mono-2","fontSize":"superbfont-xsmall"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:buttons {"style":{"spacing":{"margin":{"top":"var:preset|spacing|superbspacing-medium"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons" style="margin-top:var(--wp--preset--spacing--superbspacing-medium)"><!-- wp:button {"className":"is-style-outline","style":{"border":{"width":"1px"}},"borderColor":"mono-3"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-border-color has-mono-3-border-color wp-element-button" style="border-width:1px">Read More</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></main>
<!-- /wp:group -->


<!-- wp:pattern {"slug": "ruby-ecommerce/cta-005"} /-->


<!-- wp:template-part {"slug":"footer","theme":"ruby-ecommerce","area":"footer"} /-->